.App {
  text-align: center;
}

#layout{
 text-align: center;
}

#media-cards{
  width: 100%;
  display: flex;
  justify-content: center;
  
}

#card-one{
  display: flex;
  justify-content: center;
  margin-right: 200px;
  height: 250px;
  width: 300px;
  background-color: green;
  border-radius: 10px;
}

#card-two{
  display: flex;
  justify-content: center;
  margin-right: 200px;
  height: 250px;
  width: 300px;
  background-color: red;
  border-radius: 10px;
}

#card-three{
 display: flex;
 justify-content: center;
  height: 250px;
  width: 300px;
  background-color:purple;
  border-radius: 10px;

}